/**
 *
 * Copyright (c) 2010 Pedro Fuentes ( http://pedrofuent.es )
 * Dual licensed under the MIT and GPL licenses:
 * http://www.opensource.org/licenses/mit-license.php
 * http://www.gnu.org/licenses/gpl.html
 *
 **/

body{
	background-color:	#86C9EF;
	color:				#2E3540;
	font-family:		Arial, "MS Trebuchet", sans-serif;
}

h1{
	color: #3E3E3E;
	line-height: 30px;
	font-size: 26px;
	font-weight: bold;
	margin:0;
}

h2{
	color: #3E3E3E;
	line-height: 26px;
	font-size: 22px;
	font-weight: bold;
	margin:0;
}

h3{
	color: #5F5F5F;
	line-height: 22px;
	font-size: 18px;
	font-weight: bold;
	margin:0;
}

h4{
	color: #5F5F5F;
	line-height: 18px;
	font-size: 14px;
	font-weight: bold;
	margin:0;
}

.right{
	text-align: right;
}

.container{
	margin-top:10px;
}

/* Forms */

form{
	margin: 10px 0 0 0;
}

fieldset{
	border:		0;
	margin:		0;
	padding:	0;
}

label{
	height:				17px;
	background-color:	transparent;
	color:				#71767E;
	float:				left;
	font-size:			12px;
	padding:			10px 0 10px 20px;
	width:				140px;
	background-color:	#EEEBEB;
	
	-moz-border-radius-topleft:			5px;
	-moz-border-radius-topright:		0px;
	-moz-border-radius-bottomleft:		5px;
	-moz-border-radius-bottomright:		0px;
	-webkit-border-top-left-radius:		5px;
	-webkit-border-top-right-radius:	0px;
	-webkit-border-bottom-left-radius:	5px;
	-webkit-border-bottom-right-radius:	0px;
}

label .optional{
	
}

input[type="text"], input[type="password"], textarea, select {
	height: 			15px;
	background-color:	#EEEBEB;
	border-left:		1px solid #D3D1D1;
	border-right:		0px solid #D3D1D1;
	border-top:			0px solid #D3D1D1;
	border-bottom:		0px solid #D3D1D1;
	color:				#000000;
	font-size:			12px;
	margin:				0 0 0 0;
	padding:			11px 10px 11px 20px;
	width:				240px;
	
	-moz-border-radius-topleft:			0px;
	-moz-border-radius-topright:		5px;
	-moz-border-radius-bottomleft:		0px;
	-moz-border-radius-bottomright:		5px;
	-webkit-border-top-left-radius:		0px;
	-webkit-border-top-right-radius:	5px;
	-webkit-border-bottom-left-radius:	0px;
	-webkit-border-bottom-right-radius:	5px;
}

select{
	height: 37px;
}

input[type="text"].long, input[type="password"].long, textarea.long, select.long {
	width: 720px;
}

fieldset div.note{
	font-size:10px;
	margin:3px 0 0 20px;
	color: #E33100;
}

/* Autocomplete */

input[type="text"].ac_input, input[type="password"].ac_input, textarea.ac_input, select.ac_input {
	-moz-border-radius-bottomright:		0px;
	-webkit-border-bottom-right-radius:	0px;
}

input[type="text"].ac_loading, input[type="password"].ac_loading, textarea.ac_loading, select.ac_loading {
	background-image:		url(../images/input.loading.gif);
	background-repeat:		no-repeat;
	background-position:	3px 11px;
}

div.ac_results ul{
	border-top:				1px solid #666666;
	border-left:			1px solid #666666;
	border-right:			1px solid #666666;
	border-bottom:			1px solid #666666;
	background-color:		#EEEBEB;
	list-style-image:		none;
	list-style-position:	outside;
	list-style-type:		none;
	margin:					0;
	padding:				0 5px 0 5px;
	
	-moz-border-radius-topleft:			0px;
	-moz-border-radius-topright:		0px;
	-moz-border-radius-bottomleft:		5px;
	-moz-border-radius-bottomright:		5px;
	-webkit-border-top-left-radius:		0px;
	-webkit-border-top-right-radius:	0px;
	-webkit-border-bottom-left-radius:	5px;
	-webkit-border-bottom-right-radius:	5px;
}

	div.ac_results ul li{
		margin: 0 0 0 0;
		padding: 10px 5px 10px 5px;
		border-bottom: 1px solid #CCCCCC;
		font-style: italic;
		color: #666666;
		cursor: pointer;
		font-size: 12px;
	}

		div.ac_results ul li.ac_over{
			background-color: #CFCFCF;
		}

		div.ac_results ul li.ac_odd{

		}

		div.ac_results ul li.ac_even{

		}
		
/* Buttons */

button, .button{
	background: #222 url(../images/alert-overlay.png) repeat-x;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	text-shadow: 0 -1px 1px #222;
	border-bottom: 1px solid #222;
	position: relative;
	cursor: pointer;
}

	button.small, .small.button {
		font-size: 11px;
	}
	button.medium, .medium.button {
		font-size: 13px;
	}
	button.large, .large.button {
		font-size: 14px;
		padding: 8px 14px 9px;
	}

	button.blue, .blue.button {
		background-color: #2daebf;
	}
	button.red, .red.button {
		background-color: #e33100;
	}
	button.magenta, .magenta.button {
		background-color: #a9014b;
	}
	button.orange, .orange.button {
		background-color: #ff5c00;
	}
	button.yellow, .yellow.button {
		background-color: #ffb515;
	}

/* Tables */

table{
	background-color:	#EEEBEB;
	padding:			4px 2px 2px 4px;
	
	-moz-border-radius-topleft:			5px;
	-moz-border-radius-topright:		5px;
	-moz-border-radius-bottomleft:		5px;
	-moz-border-radius-bottomright:		5px;
	-webkit-border-top-left-radius:		5px;
	-webkit-border-top-right-radius:	5px;
	-webkit-border-bottom-left-radius:	5px;
	-webkit-border-bottom-right-radius:	5px;
}
	
	table thead{
	}
	
		table th{
			margin:				0 0 2px 0;
			color:				#53585F;
			font-size:			12px;
			padding:			10px 0 10px 20px;
			border-right:		2px solid #EEEBEB;
			border-bottom:		2px solid #EEEBEB;
			background-color:	#c3d9ff;
		}
	
	table tbody{
		
	}
	
	table tr{
		margin:0 0 1px 0;
	}
		
		table td{
			margin:				0 0 1px 0;
			padding:			10px 0 10px 20px;
			border-right:		2px solid #EEEBEB;
			border-bottom:		2px solid #EEEBEB;
			background-color:	#DFDFDF;
		}
		
	table img{
		vertical-align:	text-bottom;
	}