	
	.container{
		margin-top:10px;
	}
	
	table#school-data{
		margin-top: 10px;
		width: 910px;
	}
	
	table#school-data th{
		width: 25%;
	}
	
	#map{
		height:350px;
		width:910px;
		margin: 0 0 10px 0;
	}
	
	.red{
		color: #e33100;
	}
	
	#clear-comuna{
		display: none;
		vertical-align: text-bottom;
		cursor: pointer;
	}
	
	#clear-school{
		display: none;
		vertical-align: text-bottom;
		cursor: pointer;
	}
	
	fieldset{
		margin:0 0 10px 0;
	}